body{
	background:url('../img/bg00.png');
	background-attachment: fixed;
	background-size: 100%;
}

.radius10{
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 20px 20px 20px 20px;

}
.log{	
    
	margin-top: 20%;
	border-style: solid;
	font-size: 20px;
	color: orange;
	background-color: rgba(0, 0, 0, 0.5);
}
.center{
	margin-top: 20%;
	margin-left: 40%;


}
.shadowbox{
	-webkit-box-shadow: 2px 2px 40px 1px rgba(0,0,0,0.5);
box-shadow: 2px 2px 50px 1px rgba(0,0,0,0.8);
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 20px 20px 20px 20px;

}
.black{
	color:black;

}
.back{
    background-color: rgba(255,255,255,0.9);
}